[
  {
    "id": "R1",
    "name": "Router-R1",
    "model": "Cisco 4331",
    "device_type_label": "router",
    "connection_type": "SSH",
    "ip": "192.168.1.116",
    "port": 22,
    "username": "cisco",
    "password": "cisco",
    "secret": "cisco"
  },
  {
    "id": "R2",
    "name": "Router-R2",
    "model": "Cisco 4331",
    "device_type_label": "router",
    "connection_type": "TELNET",
    "ip": "192.168.1.125",
    "port": 23,
    "username": "cisco",
    "password": "cisco",
    "secret": "cisco"
  },
  {
    "id": "R3",
    "name": "Router-R3",
    "model": "Cisco 4331",
    "device_type_label": "router",
    "connection_type": "SSH",
    "ip": "192.168.1.118",
    "port": 22,
    "username": "cisco",
    "password": "cisco",
    "secret": "cisco"
  },
  {
    "id": "SW1",
    "name": "Switch-SW1",
    "model": "Cisco Catalyst 2960",
    "device_type_label": "switch",
    "connection_type": "SSH",
    "ip": "192.168.1.117",
    "port": 22,
    "username": "cisco",
    "password": "cisco",
    "secret": "cisco"
  },
  {
    "id": "PC1",
    "name": "PC-Workstation",
    "model": "Virtual PC",
    "device_type_label": "pc",
    "connection_type": "PC",
    "ip": "192.168.1.10",
    "mask": "255.255.255.0",
    "gateway": "192.168.1.116"
  }
]
